/*
  Override margin around the navigation ul
*/

@import 'homepage.css';
@import 'rooms.css';
@import 'contact.css';
@import 'font-stuff.css';

@import 'icon_set_1.css';
@import 'icon_set_2.css';

@import 'slick-theme.css';
@import 'slick.css';

body {
  font-size: 16px;
}

#header .h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 900px) 
#header .h1 {
  padding-top: 100px;
  padding-bottom: 10px;
}

#nav .logo {
  /* left: 0; */
  text-align: center;
  font-family: 'Courgette', cursive;
}
#nav .logo a {
  color: #000 !important;
}
#nav .logo a .title {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 30px;
}
#nav .logo a .site-description {
  font-size: 15px;
  font-weight: 400;
  display: block;
  letter-spacing: 1px;
}

#main {
  font: 16px/28px 'Open Sans', sans-serif;
  max-width: 1280;
}

#nav ul {
  margin: 0;
}

aside, .aside {
  width: 100%;
  padding-left: 0;
}

.text-center { text-align: center; }
a.text-center { display: inline-block; }
.box-center { margin: auto; }
.m0 { margin-bottom: 0px; }
.m5 { margin-bottom: 5px; }
.m10 { margin-bottom: 10px; }
.m20 { margin-bottom: 20px; }
.m30 { margin-bottom: 30px; }
.m45 { margin-bottom: 45px; }
.m60 { margin-bottom: 60px; }
.paddingtb0 { padding-top: 0px; padding-bottom: 0px; }
.paddingtb10 { padding-top: 10px; padding-bottom: 10px; }
.paddingtb20 { padding-top: 20px; padding-bottom: 20px; }
.paddingtb30 { padding-top: 30px; padding-bottom: 30px; }
.paddingtb45 { padding-top: 45px; padding-bottom: 45px; }
.paddingtb60 { padding-top: 60px; padding-bottom: 60px; }


aside .blocktitle .small {width:100%;height:100%;color: rgba(255,255,255,0.7);display:block;position:absolute;top:0;left:0;z-index:1;font-size: 14px;}

hr.mini-divider { 
  border: none;
  width: 250px;
  max-width: 50%;
  margin: auto;
}

@media only screen and (min-width:1150px) {
body[class*='background-']:before, body[class*='background-']:after { content:""; width:600px; height:100%; background-size:cover; position:fixed; top:0; }
body[class*='background-']:before { left:0; background-position:left; }
body[class*='background-']:after { right:0; background-position:right; }
body { background:#666 top left repeat-x fixed; }
#container { max-width:1420px; margin:0 auto; box-shadow:0 0 1px rgba(0,0,0,.2),0 0 15px rgba(0,0,0,.2); z-index:1; }
#nav { background:none; box-shadow:none; }
#nav * { z-index:2; }
#nav .centre {max-width:1420px !important;background:#FFF;border-bottom: 1px solid #eee;box-shadow: 0 1px 8px rgba(0,0,0,0.1);}
#nav .shadow { width:100%; height:100%; padding-bottom:20px; position:absolute; top:0; left:0; overflow:hidden; z-index:1; }
#nav .shadow:before { content:""; width:100%; height:calc(100% - 20px); box-shadow:0 0 1px rgba(0,0,0,.2),0 0 15px rgba(0,0,0,.15); position:absolute; top:0; left:0; }
#header { background-size:auto; }
.page-gallery main { padding:60px; }
}

@media only screen and (max-width:1500px) {
#container {max-width:1150px !important;}
#nav .centre { max-width:1150px !important; }
#check { width:auto; padding:0 50px; }
#check .centre { max-width:none; }
}

body {
  background-image: url('../images/background-tiled.jpg') !important;
}

#footer .contact {
  max-width: 800px;
  margin: auto;
  position: relative;
  float: none;
  width: 100%;
  margin-top: 30px;
}
#footer .contact > div {
  width: 50%;
  min-width: 250px;
  float: left;
  margin-bottom: 30px;
}

#footer .dark {
  width: 100%;
}